@import "projects.xs";

.cb-page-projects {
  .cb-projects-grid {
    .td-name {
      width: 30%;
    }

    .td-income,
    .td-expenses,
    .td-difference {
      width: 20%;
    }

    tfoot {
      font-size: $font-size-h3;
      font-weight: 400;

      .td-type-amount {
        font-size: $font-size-h2;
      }
    }
  }
}
